.custom-popover .ant-popover-inner-content {
  padding: 0;
}
.custom-popup .leaflet-popup-content {
  margin: 0;
}
.sg-search-container{
  position: relative;
}
/* .sg-uploadFile>.preview {
  overflow: auto;
} */

.sg-FooterPagination.absolute{
  z-index: 10;
}
.h100{
  height: 100px;
}