.has-error .ant-form-explain{
  background: url(../image/validate_error.png) 0 center no-repeat;
  text-align: left;
  padding-left: 20px;
}
.ant-modal-header{
  padding: 14px 24px;
  background: #FAFAFA;
}
.ant-modal-footer{
  padding: 16px 24px;
  background: #fafafa;
}
.ant-modal-body{
  font-size: 12px;
}
.custom-radio{
  .ant-radio-group{
    font-size: 12px;
  }
  .ant-radio-wrapper{
    font-size: 12px;
  }
}
.table-layout-fixed{
  table{
    table-layout:fixed;
    width: 100% !important;
    td{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tr:hover{
      td{
        white-space: normal;
        overflow: auto;
        text-overflow: clip;
      }
    }
  }
}
.custom-table{
  .ant-table-header{
    background: #fff;
  }
  .ant-table-empty .ant-table-body{
    overflow: visible!important;
  }
  .ant-table-placeholder{
    border-bottom: none;
  }
  .ant-table-thead{
    font-size: 14px;
    background-color: #fff;
    border-top: 1px solid #E6EAEF;
    border-bottom: 1px solid #E6EAEF;
    box-shadow:0px 2px 6px 0px rgba(66,155,255,0.2);
    tr{
      th{
        padding: 9px;
        background-color: #fff;
        color: #49505E;
      }
      th:first-child{
        padding-left: 22px;
      }
      th:last-child{
        padding-right: 22px;
      }
    }
  }
  .ant-table-tbody{
    tr{
      td{padding: 6px; font-size: 12px; color: #959DAB;}
      td:first-child{
        padding-left: 22px;
      }
      td:last-child{
        padding-right: 22px;
      }
    }
    tr:nth-child(even){
      background-color: #F9FBFD;
    }
  }
  &.td-pd10{
    tr{
      td{padding: 10px 6px;}
    }
  }
  // 迷你表格样式
  .ant-table-small{
    border: none;
  }
  .ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0;
  }
  .ant-table-fixed-header .ant-table-scroll .ant-table-header
  {
    height: 61px;
    overflow: hidden
  }
  // 固定表头样式
  .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body{
    overflow-y: auto!important;
  }
  .ant-table-footer
  {
    border: 0;
    padding: 0;
    background: #fff;
  }
 .ant-table-fixed-header.ant-table-scroll-position-left.ant-table-small
 {
   .ant-table-header{
     height: 61px;
   }
 }
 // 表头没有上边框
 &.no_topBoder{
    .ant-table-thead{
     border-top: none;
    }
  }
  // 资产管理表格 操作列阴影样式
  // &.operation{
  //   .ant-table-thead{
  //     tr{
  //       th:last-child{
  //         &::before{
  //           content: '';
  //           display: inline-block;
  //           height: 100%;
  //           box-shadow:0px 2px 6px 0px rgba(66,155,255,0.2);
  //         }
  //         padding-left: 25px;
          
  //       }
  //     }
  //   }
  //   .ant-table-tbody{
  //     tr{
  //       td:last-child{
  //         padding-left: 25px;
  //         position: relative;
  //         &::before{
  //           content: '';
  //           display: inline-block;
  //           position: absolute;
  //           top:0;
  //           bottom:0;
  //           left: 0;
  //           width: 1px;
  //           background: #fff;
  //           height: 100%;
  //           box-shadow:0px 2px 6px 0px rgba(66,155,255,0.2);
  //         }
  //       }
  //     }
  //   }
  // }
}
/*Select下拉框层级 在Modal里Select被挡住*/
.ant-select-dropdown{
  z-index: 2011 !important;
}

/*单选框，复选框选中的label字体颜色*/
.ant-checkbox-checked + span, .ant-radio-checked + span{
  color: @primary-color
}
// 代替ant树 样式
.custom-tree{
  position: relative;
  .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
    background: none;
  }
  .ant-tree li .ant-tree-node-content-wrapper:hover{
    background: none;
  }
  .ant-tree-switcher-icon{
    position: relative;
    z-index: 2;
  }
  .ant-tree li .ant-tree-node-content-wrapper{
    width: calc(~'100% - 24px')
  }
}
// 代替SEGI-ant 消息层叠样式
.ant-message{
  z-index: 20000;
}
/*页面每个模块小标题样式 默认为红色
  <span class="section-title orange">其他设置</span>
  <span class="section-title green">其他设置</span>
*/
.section-title{
  font-weight: bold;
  padding-left: 14px;
  position: relative;
  &.orange:after{
    background-color: #FFB15D;
  }
  &.green:after{
    background: #1EC76A;
  }
  &.blue:after{
    background: #0084FF;
  }
  &::after{
    content: '';
    width: 5px;
    height: 14px;
    background-color: #FB7474;
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
  }
}
// 代替ant标签页修改样式
.custom-tabs {
  .ant-tabs-bar{
    margin: 0;
  }
  .ant-tabs {
    padding-top: 30px;
    position:static;
    .ant-tabs-nav {
      margin-left: 20px;
    }
    &.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab  {
      background: #fff;
      line-height: 30px;
      font-size: 12px;
    }
    &.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      height: 32px;
    }
    &.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
      color: #fff;
      border-color: #0084FF;
      background: #0084FF;
    }
  }
}
// 自定义按钮图标间距
.icon-right {
  margin-right: 10px;
}
// 表格边框
.table-border{
  border-left: 1px solid rgba(239,244,249,1);
  border-right: 1px solid rgba(239,244,249,1);
  border-bottom: 1px solid rgba(239,244,249,1);
}
// 代替Segi-ant样式
.sg-title>.sg-title-text{font-weight: bold;}
