.allot-create {
  padding: 10px 40px;
}
.asset-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
  border-bottom: 1px solid #e8e8e8;
}
.asset-item:hover {
  cursor: pointer;
}
.activity-asset {
  color: #0084ff;
  background-color: #f5f7fa;
}
.asset-item-icon {
  flex-basis: 20px;
}
.detail-title {
  font-weight: bold;
  font-size: 16px;
}
.footer-action {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: transparent;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
